I am almost perfectly balanced in terms of dopamine and serotonin and have really big tilt to the acetilholin side than to GABA. Moreover I have big GABA deficiency. 
### Conclusions

I need big goal to chase, but this is not enough for me to yield good result, I need some system, which will be straight but flexible in order to unleash my whole productivity potential.

In context of compensating, I calm down really hard, and I have to work on it because it is hard for me to rest and regain energy.